@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Inter", sans-serif;
  
}
html {
  scroll-behavior: smooth;
}
@keyframes moveAroundWithPause {
  0%, 10% {
    transform: translate(0, 0); /* Start position */
  }
  15%, 25% {
    transform: translate(calc(100vw - 200px), 0); /* Move to the right and pause */
  }
  30%, 40% {
    transform: translate(calc(100vw - 200px), calc(100vh - 100px)); /* Move down and pause */
  }
  45%, 55% {
    transform: translate(0, calc(100vh - 100px)); /* Move to the left and pause */
  }
  60%, 100% {
    transform: translate(0, 0); /* Return to the starting point */
  }
}

.infinite-move {
  position: relative; /* Allows for translation */
  animation: moveAroundWithPause 30s linear infinite; /* Total duration */
}

